<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>orderDetail</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <style>
        p {
        font-family: "Poppins", sans-serif;
      }
      body {
        background-color: #FFE5B4;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }

      form {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 300px;
        padding: 20px;
      }

      label {
        display: block;
        margin-top: 20px;
        font-size: 16px;
        font-weight: 500;
      }

      input {
        width: 100%;
        padding: 8px;
        margin-top: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      button {
        background-color: #000000;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 20px;
      }

      button:hover {
        background-color: #000000;
      }

      a {
        color: #000000;
        text-decoration: none;
        display: block;
        margin-top: 20px;
        text-align: center;
      }

      a:hover {
        text-decoration: underline;
      }
    </style>
</head>
<body>

    <form action="/orderdetails/<%= orderDetail.detail_id %>/edit" method="post">
        <h1>Order Detail</h1>
        <label for="orderid">Order ID:</label>
        <input type="text"id="orderid"name="orderid"value="<%= orderDetail.detail_id %>"required readonly/>

        <label for="catid">Cat ID:</label>
        <input type="text"id="catid"name="catid"value="<%= orderDetail.cat_id %>"required readonly/>

        <label for="quanity">Quanity:</label>
        <input type="text"id="quanity"name="quanity"value="<%= orderDetail.quanity %>"required readonly/>

        <label for="unitprice">UnitPrice:</label>
        <input type="text"id="unitprice" name="unitprice" value="<%= orderDetail.unitPrice %>" required readonly/>
        
        <a href="/orderdetails/update/<%= orderDetail.detail_id %>">Edit</a>
        <a href="/orderdetails/delete/<%= orderDetail.detail_id %>">Delete</a>
        <a href="/orderdetails/">Back to List</a>
    
    </form>

</body>
</html>