<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />

    <style>
        p {
        font-family: "Poppins", sans-serif;
      }
      body {
        background-color: #FFE5B4;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }

      form {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 300px;
        padding: 20px;
      }

      label {
        display: block;
        margin-top: 20px;
        font-size: 16px;
        font-weight: 500;
      }

      input {
        width: 100%;
        padding: 8px;
        margin-top: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      button {
        background-color: #000000;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 20px;
      }

      button:hover {
        background-color: #000000;
      }

      a {
        color: #000000;
        text-decoration: none;
        display: block;
        margin-top: 20px;
        text-align: center;
      }

      a:hover {
        text-decoration: underline;
      }
    </style>

</head>
<body>

    <form action="/petcustomers/<%= petcustomers.petcustomer_id %>/edit" method="post">

        <h1>Detail Order</h1>

        <label for="cat_id">Cat ID</label>
        <input type="text" name="cat_id" id="cat_id" value="<%= petcustomers.cat_id %>" required readonly/>

        <label for="customer_id">Customer ID:</label>
        <input type="text"id="customer_id"name="customer_id"value="<%= petcustomers.customer_id %>"required readonly/>
        
        <% 
        let CatName
        let price
        let color
        let check = petcustomers.cat_id
        for (let i = 0; i < check.length; i++) { %>
            <%for(let j = 0; j < cats.length; j++) {
                if(check == cats[j].cat_id) {
                    CatName = cats[j].name
                    price = cats[j].price
                    color = cats[j].color
                    
                }
            }%>
        <% } %>

        <label for="name">Cat Name:</label>
        <input type="text"id="name"name="name"value="<%= CatName %>"required readonly/>

        <label for="color">Color Cat:</label>
        <input type="text"id="color"name="color"value="<%= color %>"required readonly/>

        <label for="price">Price:</label>
        <input type="text"id="price"name="price"value="<%= price %>"required readonly/>
        

        <a href="/petcustomers/">Back to List</a>
    </form>

</body>
</html>